__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
.env/

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

outputs/images/*
!outputs/images/.gitkeep

outputs/plots/*
!outputs/plots/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep

outputs/runs/*
!outputs/runs/.gitkeep

*.mp4
*.avi
*.mov
*.mkv

.DS_Store
